<template>
    <div class="task-page">
        <div class="task-page__header">
            <el-button-group>
                <el-button type="primary" icon="fas fa-list"/>
                <el-button type="info" icon="fas fa-sitemap"/>
                <el-button type="info" icon="fas fa-calendar-alt"/>
            </el-button-group>

            <el-input v-model="search"
                placeholder="Поиск"
            >
                <i slot="prefix" class="el-input__icon el-icon-search"/>
            </el-input>

            <span>Найдено 5 рабочих заданий</span>

            <el-button icon="el-icon-circle-plus-outline" type="danger" round>Новое рабочее задание</el-button>
        </div>

        <div class="task-page__main">
            <el-tabs v-model="activeName">
                <el-tab-pane>
                    <span slot="label"><i class="fas fa-filter"/> Дополнительные фильтры</span>
                    Дополнительные фильтры
                </el-tab-pane>
                <el-tab-pane>
                    <span slot="label"><i class="fas fa-user-cog"/> Ремонтный персонал</span>
                    Ремонтный персонал
                </el-tab-pane>
                <el-tab-pane>
                    <span slot="label"><i class="fas fa-house-damage"/> Объекты обслуживания</span>
                    Объекты обслуживания
                </el-tab-pane>

                <el-tab-pane>
                    <span slot="label"><i class="fas fa-calendar-check"/> Дата и срок обслуживания</span>
                    Дата и срок обслуживания
                </el-tab-pane>

                <el-tab-pane>
                    <span slot="label"><i class="fas fa-check-circle"/> Статус рабочего задания</span>

                    <el-table height="250"
                        :data="tableData" @row-click="openDrawer"
                        style="width: 100%">
                        <el-table-column width="150"
                            prop="date_end"
                            label="Срок завершения"
                        />
                        <el-table-column
                            prop="number"
                            width="150"
                            label="Номер задания"
                        />
                        <el-table-column
                            prop="status"
                            width="150"
                            label="Статус задания">
                            <template slot-scope="scope">
                                <task-status :status="scope.row.status"/>
                            </template>
                        </el-table-column>
                        <el-table-column
                            prop="subject"
                            label="Наименование работ"/>
                        <el-table-column
                            prop="priority"
                            width="150"
                            label="Приоритет">
                            <template slot-scope="scope">
                                <task-priority :value="scope.row.priority"/>
                            </template>
                        </el-table-column>
                        <el-table-column
                            prop="team"
                            label="Бригада / Исполнитель">
                            <template slot-scope="scope">
                                <span>
                                    <i class="el-icon-user-solid"></i> Бригада номер {{ scope.row.team }}
                                </span>
                            </template>
                        </el-table-column>
                        <el-table-column
                            prop="entity"
                            label="Объект">
                            <template slot-scope="scope">
                                <span>
                                    Здание номер {{ scope.row.entity }}
                                </span>
                            </template>
                        </el-table-column>
                        <el-table-column
                            width="250"
                            label="Действия"
                        >
                            <template slot-scope="scope">
                                <el-dropdown>
                                     <span class="el-dropdown-link">
                                        Действие <i class="el-icon-arrow-down el-icon--right"></i>
                                     </span>
                                    <el-dropdown-menu slot="dropdown">
                                        <el-dropdown-item>Редактировать</el-dropdown-item>
                                        <el-dropdown-item>Открыть</el-dropdown-item>
                                        <el-dropdown-item>Удалить</el-dropdown-item>
                                    </el-dropdown-menu>
                                </el-dropdown>
                            </template>
                        </el-table-column>
                    </el-table>

                </el-tab-pane>

                <el-tab-pane>
                    <span slot="label"><i class="fas fa-route"/> Приоритет выполнения</span>
                    Приоритет выполнения
                </el-tab-pane>
            </el-tabs>

        </div>
        <el-drawer ref="drawer"
            :append-to-body="true"
            size="480px"
            title="Рабочее задание"
            :visible.sync="drawer"
            :show-close="false"
            direction="rtl">
            <task-view :model="modelData"/>
            <template #title>
                <div class="el-drawer__title">
                    <span>Рабочее задание</span>
                    <div class="el-drawer__icons">
                        <el-link icon="fas fa-link" :underline="false" @click.prevent="$message('Попап')"></el-link>
                        <el-link icon="fas fa-bookmark" :underline="false" @click.prevent="$message('Попап')"></el-link>
                        <el-link icon="fas fa-pen" :underline="false" @click.prevent="$message('Попап')"></el-link>
                        <el-link icon="fas fa-sort" :underline="false" @click.prevent="$message('Попап')"></el-link>
                        <el-link icon="fas fa-times" :underline="false" @click="closeDrawer"></el-link>
                    </div>
                </div>
            </template>
        </el-drawer>
    </div>
</template>

<script>
import TaskStatus from '../../components/TaskStatus';
import TaskPriority from '../../components/TaskPriority';
import TaskView from '../../components/TaskView';

export default {
    name: 'Index',
    components: {
        TaskStatus,
        TaskPriority,
        TaskView
    },
    head: {
        title: 'Рабочие задания'
    },
    meta: {
        title: 'Рабочие задания'
    },
    data() {
        return {
            activeName: '4',
            drawer: false,
            search: '',
            tableData: [
                {
                    id: 1,
                    date_end: '05.10.2019',
                    number: '0007',
                    status: 2, //выполнено
                    subject: 'Течь трубы в здании - Устранить',
                    priority: 3,
                    team: 1,
                    entity: 1
                },
                {
                    id: 2,
                    date_end: '06.10.2019',
                    number: '0008',
                    status: 1, //в работе
                    subject: 'Вибрация мотора',
                    priority: 2,
                    team: 2,
                    entity: 2
                },
                {
                    id: 3,
                    date_end: '05.10.2019',
                    number: '0011',
                    status: 3, //просрочено
                    subject: 'Течь трубы в здании - Устранить',
                    priority: 1,
                    team: 1,
                    entity: 1
                },
                {
                    id: 4,
                    date_end: '05.10.2019',
                    number: '0012',
                    status: 2,
                    subject: 'Течь трубы в здании - Устранить',
                    priority: 1,
                    team: 1,
                    entity: 1
                },
                {
                    id: 5,
                    date_end: '05.10.2019',
                    number: '0014',
                    status: 2,
                    subject: 'Течь трубы в здании - Устранить',
                    priority: 1,
                    team: 1,
                    entity: 1
                }

            ],
            modelData: {
                id: 1,
                img: 'upload/img1.png',
                priority: 3,
                date_updated: '05.10.2019 11:55',
                subject: 'Течь трубы в здании - Устранить',
                status: 2,
                elapsed_time: '1ч 35м',
                category: 'Повреждение',
                equipment: 'Кран',
                team: 'Бригада номер 1',
                team_id: 1,
                user: 'Иванов И.И',
                user_id: 1,
                date_created: '04.10.2019',
                price: 1500,
                date_end: '05.10.2019 11:00'
            }
        };
    },
    methods: {
        openDrawer() {
            this.drawer = true;
        },
        closeDrawer() {
            this.drawer = false;
        },
    }
};
</script>

<style lang="scss">
    .task-page {
        &__header {
            padding: 15px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #e0e0e0;

            .el-button-group {
                width: 240px;
            }

            .el-input {
                width: 400px;
            }
        }

        &__main {
            padding-top: 25px;
        }
    }
    .el-table--enable-row-hover .el-table__body tr:hover {
        box-shadow: 0px 2px #ccc;
    }
</style>
