<script>
export default {
    name: 'TaskPriority',
    functional: true,
    props: {
        value: {
            required: true,
            type: [String, Number]
        }
    },
    render: function(h, context) {
        let txt, color, type;
        switch (context.props.value) {
            case 1: type = 'info'; color = '1'; txt = 'Низкий'; break;
            case 2: type = 'warning'; color = '2'; txt = 'Средний'; break;
            case 3: type = 'danger'; color = '3'; txt = 'Высокий'; break;
            default: return h('div', '---');
        }
        return h('el-tag',
            {
                class: `task-priority task-priority--${color}`,
                props: {
                    type
                }
            },
            txt
        );
    }
};
</script>

<style lang="scss">
    .task-priority {

    }
</style>
