<template>
    <div class="task-view">
        <el-image
            style="width: 100%; height: 150px"
            :src="model.img"
            fit="contain"/>
        <div class="task-view__flex">
            <div>
                <span>Приоритет:</span> <task-priority :value="model.priority"/>
            </div>
            <div>
                <span>Обновлено:</span> {{ model.date_updated }}
            </div>
        </div>
        <h2 class="task-view__title">{{ model.subject }}</h2>
        <div class="task-view__flex">
            <div>
                <el-select v-model="form.status" placeholder="" class="el-select--circle color--success">
                    <el-option
                        v-for="[id, value] in statusList"
                        :key="id"
                        :label="value"
                        :value="id"/>
                </el-select>
            </div>
            <div>
                <el-input
                    type="text"
                    class="el-input--circle color--primary"
                    prefix-icon="el-icon-time"
                    :value="`Время: ${model.elapsed_time}`"
                    :readonly="true"
                />
            </div>
        </div>
        <ul class="task-view__params">
            <li>
                <span>Категория</span>
                <span>{{ model.category }}</span>
            </li>
            <li>
                <span>Оборудование</span>
                <span>{{ model.equipment }}</span>
            </li>
            <li>
                <span>Бригада</span>
                <span><nuxt-link :to="`/team/${model.team_id}`">{{ model.team }}</nuxt-link></span>
            </li>
            <li>
                <span>Исполнитель</span>
                <span><nuxt-link :to="`/user/${model.user_id}`">{{ model.user }}</nuxt-link></span>
            </li>
            <li>
                <span>Дата создания</span>
                <span>{{ model.date_created }}</span>
            </li>
            <li>
                <span>Стоимость</span>
                <span>{{ model.price }}</span>
            </li>
            <li>
                <span>Завершено</span>
                <span>{{ model.date_end }}</span>
            </li>
        </ul>

        <el-card class="box-card task-view__panel" shadow="hover">
            <div slot="header" class="clearfix">
                <i class="fas fa-tasks"/>
                <strong>Задачи</strong>
            </div>
            <task-item v-for="task in tasks" :key="task.id" :value="task" class="task-view__item"/>
        </el-card>

        <el-card class="box-card task-view__panel" shadow="hover">
            <div slot="header" class="clearfix">
                <i class="fas fa-folder-plus"/>
                <strong>Дополнительные затраты</strong>
            </div>
            <div style="text-align: center;">
                <el-link type="primary" icon="fas fa-plus">добавить</el-link>
            </div>
        </el-card>

        <el-card class="box-card task-view__panel" shadow="hover">
            <div slot="header" class="clearfix">
                <i class="fas fa-briefcase"/>
                <strong>Запчасти и МТР</strong>
            </div>
            <div style="text-align: center;">
                <el-link type="primary" icon="fas fa-plus">добавить</el-link>
            </div>
        </el-card>

        <el-card class="box-card task-view__panel">
            <div slot="header" class="clearfix">
                <i class="fas fa-map-marked-alt"/>
                <strong>Положение на карте</strong>
            </div>
            <GmapMap
                :center="{lat:10, lng:10}"
                :zoom="7"
                map-type-id="terrain"
                style="width: 500px; height: 300px"
            >


            </GmapMap>
        </el-card>
    </div>
</template>

<script>
import TaskPriority from './TaskPriority';
import TaskItem from './TaskItem';
import {STATUS} from '@/helpers/taskStatus';

export default {
    name: 'TaskView',
    components: {TaskPriority, TaskItem},
    props: {
        model: {
            required: true,
            type: Object
        }
    },
    data() {
        return {
            STATUS,
            form: {
                status: '3'
            },
            tasks: [
                {
                    id: 1,
                    title: 'Отключить оборудование',
                    status: '3',
                    file: '123'
                },
                {
                    id: 2,
                    title: 'Провести осмотр оборудования',
                    status: '3',
                    file: '123'
                },
                {
                    id: 3,
                    title: 'Устранить неисправность',
                    status: '3',
                    file: '123'
                },
                {
                    id: 4,
                    title: 'Включить оборудование',
                    status: '3',
                    file: '123'
                }
            ]
        };
    },
    computed: {
        statusList() {
            return Object.entries(this.STATUS);
        }
    }
};
</script>

<style lang="scss">
    .task-view {
        &__flex {
            display: flex;
            justify-content: space-between;
            padding: 15px 20px;
            align-items: center;
            color: #616161;
            font-size: 14px;

            & > div {
                width: 45%;
            }
         }

        &__title {
            padding: 0px 20px;
            margin: 10px 0;
        }

        &__params {
            list-style: none;
            padding: 0;
            li {
                display: flex;

                span {
                    width: 50%;
                    padding: 5px 10px;
                }

                span:nth-child(1) {
                    text-align: right;
                    color: #999;
                    width: 40%;
                }
            }
        }

        &__panel {
            background: #f7f7f7;
            margin: 35px 0;
        }

        .el-card__header {
            border-bottom: 1px solid #c3c3c3;
        }

     }
    .el-drawer {
        overflow: auto;
    }
</style>
