<script>
export default {
    name: 'TaskStatus',
    functional: true,
    props: {
        status: {
            required: true,
            type: [String, Number]
        }
    },
    render: function(h, context) {
        let txt, icon;
        switch (context.props.status) {
            case 1: icon = 'fas fa-cog'; txt = 'В работе'; break;
            case 2: icon = 'fas fa-check-square'; txt = 'Выполнено'; break;
            case 3: icon = 'fas fa-clock'; txt = 'Просрочено'; break;
            default: return h('div', '---');
        }
        return h('span',
            {
                class: 'task-status'
            },
            [
                h('i', {class: icon}),
                h('span', txt)
            ]
        );
    }
};
</script>

<style lang="scss">
    .task-status {
        .fas {
            margin-right: 10px;
        }
        .fa-cog {
            color: rgb(253, 203, 49);
        }
        .fa-check-square {
            color: #67C23A;
        }
        .fa-clock {
            color: red;
        }
    }
</style>
