<template>
    <div class="task-item">
        <div class="task-item__left">
            <div class="task-item__title">{{ value.title }}</div>
            <el-select v-model="value.status" placeholder="" class="el-select--circle color--info" :disabled="true">
                <el-option
                    v-for="[id, txt] in statusList"
                    :key="id"
                    :label="txt"
                    :value="id"/>
            </el-select>
        </div>
        <div class="task-item__right">
            <a :href="value.file" target="_blank" class="task-item__file">
                <i class="far fa-file-pdf fa-3x"/>
            </a>
            <a href="" @click.prevent="loadFile" class="task-item__file color--primary">
                <i class="fas fa-camera fa-3x"/>
            </a>
        </div>
    </div>
</template>

<script>
import {STATUS} from '@/helpers/taskStatus';

export default {
    name: 'TaskItem',
    props: {
        value: {
            required: true,
            type: Object
        }
    },
    data() {
        return {
            STATUS
        };
    },
    computed: {
        statusList() {
            return Object.entries(this.STATUS);
        }
    },
    methods: {
        loadFile() {
            this.$message('Будем загружать');
        }
    }
};
</script>

<style lang="scss">
    .task-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
        &__title {
            font-weight: bold;
            margin-bottom: 15px;
        }

        &__file {
            color: #ddd;
            margin-right: 10px;
        }
    }
</style>
