
body {
  margin: 0;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.el-select, .el-input {
  &--circle {
    .el-input__inner {
      border-radius: 25px;
    }
  }
}

.color {
  &--success {
    .el-input__inner {
      border-color: #67C23A;
      background: #67C23A;
      color: #fff;
    }

  }
  &--primary {
    color: #419dff !important;

    .el-input__inner {
      color: #419dff;
      border-color: #419dff;
    }
    .el-input__icon {
      color: #419dff;
    }
  }

  &--info {
    .el-input__inner {
      background: #b7b7b7 !important;
      color: #fff !important;
    }
  }
}

.el-drawer {
  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__icons {
    a {
      margin: 0 3px;
    }
  }
}
