<template>
    <el-container style="border: 1px solid #eee">
        <el-aside width="250px" style="background-color: #545c64">
            <nuxt-link class="el-aside__header" to="/">
                <i class="el-icon-setting"/>
                <div>Цифровая платформа <span>i4.0</span></div>
            </nuxt-link>
            <el-menu
                default-active="2"
                class="el-menu-vertical-demo"
                background-color="#545c64"
                text-color="#fff"
                :router="true"
                active-text-color="#fdcb31">

                <el-menu-item-group>
                    <el-menu-item index="1" :route="{path : 'task'}">
                        <i class="fas fa-list-alt"/>
                        <span>Рабочие задания</span>
                    </el-menu-item>
                    <el-menu-item index="2" route="/">
                        <i class="fas fa-book"/>
                        <span>Журнал дефектов</span>
                    </el-menu-item>
                    <el-menu-item route="/">
                        <i class="fas fa-mobile-alt"/>
                        <span>Запросы на работы</span>
                    </el-menu-item>
                    <el-menu-item route="/">
                        <i class="fas fa-chart-bar"/>
                        <span>Отчеты и показатели</span>
                    </el-menu-item>
                </el-menu-item-group>

                <el-menu-item-group>
                    <el-menu-item route="/">
                        <i class="fas fa-house-damage"/>
                        <span>Объекты</span>
                    </el-menu-item>
                    <el-menu-item route="/">
                        <i class="fas fa-tools"/>
                        <span>Оборудование</span>
                    </el-menu-item>
                    <el-menu-item route="/">
                        <i class="fas fa-toolbox"/>
                        <span>Запчасти и МТР</span>
                    </el-menu-item>
                    <el-menu-item route="/">
                        <i class="fas fa-tachometer-alt"/>
                        <span>Счетчики</span>
                    </el-menu-item>
                    <el-menu-item route="/task">
                        <i class="fas fa-truck"/>
                        <span>Заявки на покупку</span>
                    </el-menu-item>
                </el-menu-item-group>

                <el-menu-item-group>
                    <el-menu-item route="/">
                        <i class="fas fa-users-cog"/>
                        <span>Бригады</span>
                    </el-menu-item>
                    <el-menu-item route="/">
                        <i class="fas fa-id-card"/>
                        <span>Контрагенты</span>
                    </el-menu-item>
                </el-menu-item-group>

                <el-menu-item-group>
                    <el-menu-item route="/">
                        <i class="fas fa-file-invoice"/>
                        <span>Документы</span>
                    </el-menu-item>
                    <el-menu-item route="/">
                        <i class="fas fa-folder"/>
                        <span>Справочники</span>
                    </el-menu-item>
                </el-menu-item-group>

                <el-menu-item-group>
                    <el-menu-item route="/">
                        <i class="fas fa-cogs"/>
                        <span>Настройки</span>
                    </el-menu-item>
                    <el-menu-item route="/">
                        <i class="fas fa-address-book"/>
                        <span>Контакты</span>
                    </el-menu-item>
                </el-menu-item-group>

            </el-menu>
        </el-aside>

        <el-container>
            <el-header style="font-size: 16px" height="auto">
                <h1 class="el-header__title">{{ title }}</h1>
                <div class="el-header__right">
                    <el-badge :value="1" class="item" type="primary">
                        <el-button icon="el-icon-bell" circle/>
                    </el-badge>
                    <el-avatar :size="50" :src="circleUrl" style="margin-left: 20px;"/>
                </div>
            </el-header>

            <el-main>
                <nuxt />
            </el-main>
        </el-container>
    </el-container>

</template>
<script>
export default {
    data() {
        return {
            circleUrl: 'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'
        };
    },
    computed: {
        title() {
            return this.$nuxt.context.route.meta && this.$nuxt.context.route.meta[0].title;
        }
    }
};
</script>
<style lang="scss">
    .el-aside {
        color: #fff;
        min-height: 100vh;
        &__header {
            color: #fff;
            text-decoration: none;
            display: flex;
            padding: 10px 15px;
            font-size: 18px;
            i {
                font-size: 40px;
                margin-right: 10px;
            }
            span {
                color: #fdcb31;
            }
        }
    }
    .el-header {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 1px solid #e0e0e0;
        position: fixed;
        z-index: 2;
        width: calc(100% - 250px);
        background: #fff;
        &__right {
            display: flex;
            margin-left: auto;

            .el-button {
                width: 50px;
                height: 50px;
                font-size: 24px;
            }
        }

        &__title {
            font-size: 24px;
            margin: 0;
        }
    }

    .el-main {
        padding-top: 71px;
    }
</style>
