<template>
    <div class="container">
        <h1>
            Тестовое задание
        </h1>
    </div>
</template>

<script>

export default {
    components: {
    }
};
</script>

<style>

</style>
